<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <title>@ViewData["Title"] - CodeSpirit App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <!-- 样式表 -->
    <link rel="stylesheet" href="~/sdk/antd.css" asp-append-version="true" />
    <link rel="stylesheet" asp-append-version="true" href="~/sdk/helper.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/sdk/iconfont.css" />
    <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />

    <!-- 全局变量配置 -->
    <script>
        @{
            var isDevelopment = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development";
        }
        window.webHost = '@(isDevelopment ? "https://localhost:7120" : "https://codespirit-app.xin-lai.com")';
        window.apiHost = '@(isDevelopment ? "https://localhost:17134" : "https://codespirit-api.xin-lai.com")';
        window.aspire_dashboard = '@(isDevelopment ? "https://localhost:17109" : "https://codespirit-api.xin-lai.com")';
    </script>

    <!-- 脚本 -->
    <script asp-append-version="true" src="~/sdk/sdk.js"></script>
    <script asp-append-version="true" src="~/js/history.js"></script>
    <script asp-append-version="true" src="~/js/tokenManager.js"></script>
    @RenderSection("Head", required: false)  <!-- 可选的 Razor section -->
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="page-container">
        @RenderBody()  <!-- 页面主体内容 -->
    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
</body>
</html>
